!!! 5
html(lang="zh-cn")
    head
        title Doc Us
            block title
        block head_bootstrap
            link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        block head_css
        block head_script
    body
        div#loadpage 正在加载页面内容...
        block header
            div.topbar
                div.fill
                    div.container
                        a.brand(href="###") Doc Us
                        ul.nav
                            li.active
                                a(href="/") Home
                            li
                                a(href="/about") About
                            li
                                a(href="/contact") Contact


        #mainContent
            block content
        #footer
            block footer
        script
            document.getElementById('loadpage').style.display = 'none';
